  #header {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0%;
    left: 0%;
    background-color: #eee;
   }
  #title {
   position: absolute;
   top: 15%;
   left: 10%;
   font-size: 30px;
  }
 #read { 
   position: absolute;
   height: 40%; 
   width: 20%; 
   background-color: #f6f6f6; 
   top: 25%;
   left: 50%;
   font-size: 20px;
   color: black;
   border-radius: 5px;
 }
#sub {
   position: absolute;
   height: 40%; 
   width: 20%; 
   background-color: #f6f6f6; 
   top: 25%;
   left: 75%;
   font-size: 20px;
   color: black;
   border-radius: 5px;
 } 
